# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Hardhat cache
cache/

# Node.js dependencies
node_modules/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

# System files
*.log
.DS_Store