# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
# SR-OS AutoPost Engine
node_modules/
logs/*.log
.env
posted/*
!posted/.gitkeep
*.bak
pm2-*.log
